* {
  padding: 0;
  margin: 0;
  color: #000000;
  /* font-family: "Roboto", Arial, Helvetica, sans-serif; */
  font-style: normal;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #FFFFFF;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow: hidden;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.body {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.menu-text-img {
  max-width: 1220px;
  display: flex;
  box-sizing: border-box;
  margin: 50px auto 90px;
  padding: 0px 20px;
  gap: 74px;
  flex-direction: column;
}

.fon1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 815px;
}

.menu {
  max-width: 1220px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoANDbuttons {
  display: flex;
  gap: 80px;
}

.logoSVG {
  max-height: 30px;
}

.menuBUTTONS {
  display: flex;
  gap: 36px;
  align-items: center;
}
.menuBUTTONS p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
}

.signIN_AND_signUP {
  display: flex;
  gap: 40px;
  align-items: center;
}
.signIN_AND_signUP a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #8794BA;
}
.signIN_AND_signUP button {
  box-sizing: border-box;
  align-items: center;
  padding: 10px 53px;
  background-color: transparent;
  border: 1px solid #465B95;
  border-radius: 68px;
}

.menuMobile {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
  display: none;
  justify-content: space-between;
  background-color: #172755;
  box-shadow: 0px 4px 4px #12214D;
}

.signIN_AND_button {
  display: flex;
  gap: 18px;
  align-items: center;
}
.signIN_AND_button a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #8794BA;
}

.menu_button {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.btn-menu {
  background-color: #172755;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.btn-menu-rotate {
  transform: rotate(90deg);
}

.menuHidden {
  display: none;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 47px;
  background: #FFFFFF;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 16px;
}
.menuHidden p {
  padding: 16px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #172755;
}

.menuVisible {
  display: flex;
  opacity: 0;
  animation: visible 0.3s ease-in forwards;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button-line {
  width: 24px;
  height: 3px;
  background: #8794BA;
}

.analytics-text-and-img {
  display: flex;
  gap: 149px;
  align-items: center;
}

.analytics-text {
  max-width: 550px;
  width: 100%;
  max-height: 316px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.analytics-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.analytics-text button {
  box-sizing: border-box;
  padding: 10px 80px;
  border: none;
  background: #EF2A82;
  border-radius: 68px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.an-text-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}

.an-text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
}

.GrafIMG {
  display: flex;
  max-width: 481px;
  position: relative;
}

.grafik {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 804px;
  max-height: 100%;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.SMALLgrafik {
  position: absolute;
  max-width: 361px;
  right: 189px;
  top: 124px;
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: 32.0414px;
}

.mainfeatures {
  width: 100%;
}

.mainfeaturesLIST {
  max-width: 1220px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.main {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.mainTEXT {
  max-width: 1060px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mf-text-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #172755;
}

.mf-text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794BA;
}

.mainfeaturesICONS {
  display: flex;
  gap: 20px;
}

.icon {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.icon-svg {
  padding: 0px 160px;
  max-width: 60px;
}

.icon-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.icon-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #172755;
}
.icon-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #8794BA;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.feature1 {
  display: flex;
  gap: 100px;
  align-items: center;
}

.feature2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  align-items: center;
}

.fe-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fe-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #172755;
}
.fe-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
}

.fe-svg {
  width: 600px;
  height: 410px;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.footer-background {
  box-sizing: border-box;
  margin-top: 60px;
}

.fon2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1231px;
}

.footer {
  max-width: 1220px;
  width: 100%;
  display: flex;
  margin: 285px auto 0px;
  padding: 0px 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.footer-pricing {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.footer-pricing-text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 40px;
}
.footer-pricing-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}
.footer-pricing-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794BA;
}

.pricing-card {
  display: flex;
  max-height: 425px;
  max-width: 340px;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 70px;
  box-sizing: border-box;
  margin: 0px auto;
  gap: 30px;
  background: rgba(15, 31, 75, 0.7);
  border-radius: 30px;
}

.title-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-price h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.title-price p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794BA;
}

.line {
  width: 220px;
  height: 1px;
  background: #2A407C;
}

.price {
  display: flex;
  flex-direction: column;
}
.price p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8794BA;
}

.price-h {
  display: flex;
}
.price-h p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  vertical-align: sub;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.price-h span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  vertical-align: baseline;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

.price-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 80px;
  gap: 10px;
  border: 1px solid #2A407C;
  border-radius: 68px;
}
.price-button p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.pricing-white-card {
  display: flex;
  max-width: 340px;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px 70px;
  margin: 0px auto;
  box-sizing: border-box;
  gap: 40px;
  background: #FFFFFF;
  box-shadow: 0px 18px 50px -15px #060F28;
  border-radius: 30px;
}

.title-white-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-white-price h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #172755;
}
.title-white-price p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #8794BA;
}

.line-white {
  width: 220px;
  height: 1px;
  background: #D3D9E9;
}

.price-white {
  display: flex;
  flex-direction: column;
}
.price-white p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8794BA;
}

.price-white-h {
  display: flex;
}
.price-white-h p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  vertical-align: sub;
  line-height: 70px;
  text-align: center;
  color: #172755;
}
.price-white-h span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  vertical-align: baseline;
  font-size: 30px;
  text-align: center;
  color: #172755;
}

.price-white-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.5px 83px;
  gap: 10px;
  background: #EF2A82;
  border-radius: 68px;
}
.price-white-button p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-links {
  max-width: 1220px;
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-line {
  max-width: 1180px;
  height: 1px;
  background: #2A407C;
}

.links {
  display: flex;
  justify-content: space-between;
}

.menuBUTTONS2 {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menuBUTTONS2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
}

.fb-tw-in {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo-links {
  height: 20px;
}

@media only screen and (max-width: 1220px) {
  .mainfeaturesICONS {
    flex-direction: column;
    margin: 0px auto;
  }
  .feature1 {
    flex-direction: column;
  }
  .feature2 {
    flex-direction: column;
  }
  .feature3 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1158px) {
  .fon1 {
    height: 937px;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .fon2 {
    height: 1151px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu-text-img {
    margin: 0px auto 90px;
    padding: 0px;
    gap: 30px;
  }
  .analytics-text-and-img {
    flex-direction: column-reverse;
    gap: 70px;
    margin: 0px;
  }
  .analytics-text {
    max-width: 774px;
    box-sizing: border-box;
    padding: 0px 23px;
  }
  .an-text-1 {
    font-size: 57px;
  }
  .an-text-2 {
    font-size: 20px;
  }
  .Try-for-free-button {
    display: flex;
    justify-content: center;
  }
  .GrafIMG {
    max-width: 800px;
  }
  .grafik {
    max-width: 580px;
  }
  .SMALLgrafik {
    display: none;
  }
  .menu {
    display: none;
  }
  .menuMobile {
    display: flex;
  }
  .menuBUTTONS2 {
    gap: 20px;
  }
  .fb-tw-in {
    gap: 20px;
  }
}
@media only screen and (max-width: 644px) {
  .fon1 {
    height: 815px;
  }
  .pricing-white-card {
    padding: 25px 60px 25px;
  }
  .pricing-card {
    padding: 25px 60px 25px;
  }
  .fon2 {
    height: 1079px;
  }
  .analytics-text-and-img {
    gap: 26px;
  }
  .grafik {
    max-width: 335px;
  }
  .analytics-text {
    padding: 0px 20px;
    gap: 26px;
  }
  .an-text-1 {
    font-size: 31px;
  }
  .an-text-2 {
    font-size: 18px;
  }
  .analytics-text button {
    max-width: 335px;
    width: 100%;
    height: 50px;
  }
  .mf-text-1 {
    text-align: left;
    font-size: 30px;
    line-height: 47px;
  }
  .mf-text-2 {
    text-align: left;
    font-size: 14px;
    line-height: 140%;
  }
  .menu-text-img {
    margin: 0px auto 156px;
  }
  .body {
    gap: 50px;
  }
  .main {
    gap: 40px;
  }
  .icon {
    flex-direction: row;
  }
  .icon-svg {
    padding: 0px;
  }
  .icon-text {
    gap: 9px;
  }
  .icon-text h2 {
    text-align: left;
    font-size: 16px;
  }
  .icon-text p {
    text-align: left;
    font-size: 14px;
    line-height: 140%;
  }
  .mainfeaturesICONS {
    margin: 0px;
    gap: 35px;
  }
  .mainTEXT {
    gap: 20px;
  }
  .mainfeaturesLIST {
    gap: 71px;
  }
  .fe-text {
    gap: 20px;
  }
  .fe-text h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .fe-text p {
    font-size: 14px;
    line-height: 140%;
  }
  .fe-svg {
    max-width: 335px;
    height: 229px;
  }
  .fe-svg-img {
    max-width: 335px;
    height: 229px;
  }
  .feature1 {
    gap: 30px;
  }
  .feature2 {
    gap: 30px;
  }
  .features {
    gap: 60px;
  }
  .footer-pricing-text {
    gap: 20px;
  }
  .footer-pricing-text h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }
  .footer-pricing-text p {
    font-size: 14px;
    line-height: 140%;
    text-align: left;
  }
  .footer-pricing {
    gap: 59px;
  }
  .footer-links {
    margin-top: 44px;
    gap: 45px;
  }
  .menuBUTTONS2 {
    display: none;
  }
  .fb-tw-in {
    gap: 40px;
  }
  .pricing-white-card {
    max-height: 358px;
    max-width: 280px;
    gap: 30px;
  }
  .price-white-button {
    padding: 10px 83px;
  }
  .pricing-card {
    max-height: 358px;
    max-width: 280px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}/*# sourceMappingURL=Analytics.css.map */