* {
  padding: 0;
  margin: 0;
  color: #000000;
  font-style: normal;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #FFFFFF;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: hidden;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.body {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template: 89vh 11vh/minmax(140px, 100vw) minmax(50px, 100px);
  grid-template-areas: "a b" "c b";
}

.video-preview {
  grid-area: a;
  width: 100%;
}

.video-preview__bear {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-preview__drozdov {
  position: absolute;
  top: 57vh;
  left: 2vw;
}
.video-preview__drozdov p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
}

.video-preview__play {
  position: absolute;
  top: 46%;
  left: 50%;
  border: none;
  background-color: transparent;
}

.video-preview__button {
  max-width: 100px;
}

.menu {
  position: relative;
  grid-area: b;
  background: linear-gradient(180.71deg, #7A8110 0.11%, #A2B332 100%);
}

.menuMain {
  z-index: 4;
  position: absolute;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.71deg, #7A8110 0.11%, #A2B332 100%);
}

.menuMainActive {
  width: 250px;
  box-shadow: -100px 0px 100px rgba(0, 0, 0, 0.65);
}

.menu__burger-and-links {
  max-height: 212px;
  height: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu__burger-links-and-br-link {
  display: flex;
  max-height: 90px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.menu__burger-and-x {
  display: flex;
  padding: 0 35px;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.menu__burger {
  display: flex;
}

.menu__X {
  display: none;
}

.menu__links {
  max-height: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 50px;
}

.link {
  max-width: 20px;
  max-height: 20px;
  margin: 0 auto;
}

.menu__vkont {
  max-width: 20px;
}

.menu__telega {
  max-width: 20px;
}

.menu__name-video {
  display: flex;
  justify-content: center;
}
.menu__name-video p {
  writing-mode: vertical-lr;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.menu__name-video span {
  line-height: 30px;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

.menu__name-video-br-link {
  display: none;
  margin: 0 auto;
}
.menu__name-video-br-link p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.menu__name-video-br-link span {
  line-height: 30px;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

.menu__name-video-playlist {
  display: none;
  animation: visible 1s ease-in forwards;
}
.menu__name-video-playlist p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu__name-video-AND-play-video {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__str {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #89941D;
}

.menu__str_block-img {
  max-height: 100px;
  display: flex;
}

.menu__str_img-kas {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  animation: visible 1s ease-in forwards;
}
.menu__str_img-kas p {
  position: absolute;
  width: 106px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.menu__str_img-kas img {
  height: 100px;
}

.menu__str_img-oran {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  animation: visible 1s ease-in forwards;
}
.menu__str_img-oran p {
  position: absolute;
  width: 106px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.menu__str_img-oran img {
  height: 100px;
}

.menu__str_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
}
.menu__str_block img {
  max-width: 14px;
  max-height: 28px;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__line {
  display: inline;
  width: 60px;
  height: 0px;
  background-color: #FFFFFF;
  opacity: 0.8;
  border: 1px solid #FFFFFF;
}

.desc {
  grid-area: c;
  display: flex;
  align-content: center;
  background: rgba(0, 0, 0, 0.35);
}

.desc__text {
  display: flex;
  align-items: center;
  padding-left: 70px;
  gap: 50px;
}

.desc__bear {
  display: flex;
  max-width: 242px;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.desc__bear p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFF00;
}
.desc__bear span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.4;
}

.desc__line2 {
  width: 0px;
  height: 60px;
  background-color: #FFFFFF;
  opacity: 0.8;
  border: 1px solid #FFFFFF;
}

.desc__bear-text {
  display: flex;
  gap: 10px;
  max-width: 565px;
  flex-direction: column;
}
.desc__bear-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.9;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
}
.desc__bear-text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFF00;
}

.desc__bear-number {
  display: flex;
  max-width: 146px;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
.desc__bear-number p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFF00;
}
.desc__bear-number span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.9;
}

.opacity {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.35);
}

.menu__links_row {
  flex-direction: row;
  transition: 0.5s;
  gap: 80px;
}

.menu__name-video_rotate {
  display: none;
}

.menu__name-video-playlist_visible {
  display: inline;
}

.menu__name-video-br-link_visible {
  display: inline;
}

.menu__str_img-kas_visible {
  display: flex;
}

.menu__line_no-visible {
  display: none;
}

.menu__str_img-oran_visible {
  display: flex;
  animation: visible 1s ease-in forwards;
}

.opacity_visible {
  display: inline;
}

.menu__burger-and-x_right {
  justify-content: end;
}

.menu__burger_visible {
  display: none;
}

.menu__X_visible {
  display: flex;
}

.menu__str_block_visible img {
  animation: visible 1s ease-in forwards;
}

@media only screen and (max-width: 1380px) {
  .body {
    grid-template: 54vh 46vh/minmax(140px, 100vw) minmax(50px, 80px);
    grid-template-areas: "a b" "c b";
  }
  .menu__str_img-kas {
    animation: visible 1s ease-in forwards;
  }
  .menu__str_img-oran {
    animation: visible 1s ease-in forwards;
  }
  .video-preview__bear {
    height: 54vh;
  }
  .video-preview__drozdov {
    top: 32vh;
  }
  .video-preview__play {
    top: 25%;
    left: 47%;
  }
  .video-preview__button {
    max-width: 40px;
  }
  .menu__burger-and-x {
    padding: 0 25px;
  }
  .desc {
    background: #522F1E;
  }
  .desc__text {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
  .desc__bear-number p {
    text-align: left;
  }
  .desc__line2 {
    max-width: 648px;
    width: 100%;
    height: 0px;
  }
}
@media only screen and (max-width: 770px) {
  .body {
    grid-template: 60px 30vh 70vh/minmax(140px, 100vw);
    grid-template-areas: "b" "a" "c";
  }
  .video-preview__bear {
    height: 30vh;
  }
  .menu {
    display: flex;
    height: 60px;
  }
  .menu__X {
    max-width: 20px;
  }
  .menuMain {
    z-index: 4;
    position: absolute;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.71deg, #7A8110 0.11%, #A2B332 100%);
  }
  .menuMainActive {
    height: 240px;
  }
  .video-preview__button {
    max-width: 24px;
  }
  .menu__burger-and-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    padding: 0;
    margin: 20px 20px;
  }
  .menu__name-video-AND-play-video {
    gap: 30px;
  }
  .menu__str_block {
    width: 60px;
    height: 60px;
  }
  .menu__str_img-kas {
    overflow: hidden;
    width: 100%;
    height: 60px;
  }
  .menu__str_img-kas img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .menu__str_img-oran {
    overflow: hidden;
    width: 100%;
    height: 60px;
  }
  .menu__str_img-oran img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .menu__str_block-img {
    width: 100%;
    align-items: center;
  }
  .menu__burger-and-x {
    display: flex;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
  .menu__links {
    max-width: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 24px;
  }
  .menu__name-video {
    display: none;
  }
  .menu__name-video-br-link {
    display: flex;
  }
  .menu__name-video-br-link p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .menu__name-video-br-link span {
    font-weight: 500;
    font-size: 18px;
  }
  .menu__burger-links-and-br-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .menu__burger {
    max-width: 20px;
  }
  .menu__str {
    display: none;
    transition: 1s;
    background-color: transparent;
  }
  .menu__strActive {
    display: flex;
  }
  .video-preview__drozdov p {
    font-size: 18px;
    line-height: 21px;
  }
}/*# sourceMappingURL=Animal-site.css.map */